
.container {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.header {
    padding: 20px 50px 20px 50px;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 27, 73);
    color: rgb(237, 237, 237);
    font-family: 'Outfit', sans-serif;
    font-weight: 600;

    &-title {
        font-size: 25px;
    }
    
    &-signup {
        font-weight: 400;
    }
}


